# Ficheiros grandes que excedem o limite de tamanho do GitHub
2_Semestre/VAD/Teóricas/T11 - Hierarchies and trees.pdf
2_Semestre/ACA/ACA_merged_2x4.pdf
2_Semestre/ACA/Práticas/4-DNN&CNN/data/cifar-10-python.tar.gz
2_Semestre/ACA/Práticas/6-Transformers-Students/encoder_classifier.pkl
2_Semestre/ACA/Práticas/6-Transformers-Students/trained/encoder_classifier.pkl